@font-face {
    font-family: 'Almarena Neue';
    src: url('AlmarenaNeue-RegularItalic.woff2') format('woff2'),
        url('AlmarenaNeue-RegularItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Almarena Neue';
    src: url('AlmarenaNeue-Bold.woff2') format('woff2'),
        url('AlmarenaNeue-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Almarena Neue';
    src: url('AlmarenaNeue-LightItalic.woff2') format('woff2'),
        url('AlmarenaNeue-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Almarena Neue';
    src: url('AlmarenaNeue-Medium.woff2') format('woff2'),
        url('AlmarenaNeue-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Almarena Neue';
    src: url('AlmarenaNeue-Regular.woff2') format('woff2'),
        url('AlmarenaNeue-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Almarena Neue';
    src: url('AlmarenaNeue-ExtraBold.woff2') format('woff2'),
        url('AlmarenaNeue-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Almarena Neue';
    src: url('AlmarenaNeue-MediumItalic.woff2') format('woff2'),
        url('AlmarenaNeue-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Almarena Neue';
    src: url('AlmarenaNeue-SemiBold.woff2') format('woff2'),
        url('AlmarenaNeue-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Almarena Neue';
    src: url('AlmarenaNeue-Light.woff2') format('woff2'),
        url('AlmarenaNeue-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Almarena Neue';
    src: url('AlmarenaNeue-Thin.woff2') format('woff2'),
        url('AlmarenaNeue-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Almarena Neue';
    src: url('AlmarenaNeue-SemiBoldItalic.woff2') format('woff2'),
        url('AlmarenaNeue-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Almarena Neue';
    src: url('AlmarenaNeue-ExtraLightItalic.woff2') format('woff2'),
        url('AlmarenaNeue-ExtraLightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Almarena Neue';
    src: url('AlmarenaNeue-ExtraBoldItalic.woff2') format('woff2'),
        url('AlmarenaNeue-ExtraBoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Almarena Neue';
    src: url('AlmarenaNeue-ExtraLight.woff2') format('woff2'),
        url('AlmarenaNeue-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Almarena Neue';
    src: url('AlmarenaNeue-BlackItalic.woff2') format('woff2'),
        url('AlmarenaNeue-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Almarena Neue';
    src: url('AlmarenaNeue-Black.woff2') format('woff2'),
        url('AlmarenaNeue-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Almarena Neue';
    src: url('AlmarenaNeue-ThinItalic.woff2') format('woff2'),
        url('AlmarenaNeue-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Almarena Neue';
    src: url('AlmarenaNeue-BoldItalic.woff2') format('woff2'),
        url('AlmarenaNeue-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

