/* Custom fonts loader (plaats hier je eigen URLs/hosting) */
@font-face {
  font-family: 'CustomRegular';
  src: url('./fonts/Custom-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'CustomBold';
  src: url('./fonts/Custom-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  /* Stel hier je gewenste font stack in; fallback blijft Open Sans */
  --title-font-family: 'CustomBold', 'Open Sans', sans-serif;
  --set-font-family: 'CustomRegular', 'Open Sans', sans-serif;
  --info-font-family: 'CustomRegular', 'Open Sans', sans-serif;
  --note-font-family: 'CustomBold', 'Open Sans', sans-serif;
}

